//SCSS
$font-droid:"Droid-Sans";
$font-vibes:"Vibes-Regular";
$font-bold:"Oswald-Bold";
$font-regular:"Oswald-Regular";
$font-medium: "Oswald-Medium";
$bg-color:#df001f;
$white-text: #ffffff;
$black-text: #333333;
$red-text:#df001f;
$p:100px;
//CSS
.banner__wrap {
    position: relative;
    .banner__content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        height: 230px;
        @media screen and (max-width: 768px) {
            width: 300px;
            height: 180px;
        }
        @media screen and (max-width: 568px) {
            padding-top: 25px;
            width: 250px;
            height: 140px;
        }
        .banner__title {
            font-size: 9em;
            font-weight: 900;
            line-height: 0.74;
            font-family: $font-bold;
            color: $red-text;
            text-transform: uppercase;
            @media screen and (max-width: 768px) {
                font-size: 6em;
                margin-bottom: 8px;
            }
            @media screen and (max-width: 568px) {
                font-size: 3.8em;
                margin-bottom: 4px;
            }
        }
        .banner__text {
            font-family: $font-vibes;
            text-align: center;
            font-size: 6em;
            line-height: 2;
            text-align: center;
            color: $black-text;
            @media screen and (max-width: 900px) {
                line-height: 1.5;
            }
            @media screen and (max-width: 768px) {
                font-size: 4em;
                margin-bottom: 5px;
            }
            @media screen and (max-width: 568px) {
                font-size: 2.4em;
                margin-bottom: 0;
            }
        }
        .banner__btn {
            border-radius: 50px;
            text-transform: uppercase;
            font-family: $font-droid;
            font-size: 1.5em;
            font-weight: bold;
            line-height: 2.5;
            letter-spacing: 1.2px;
            background-color: $red-text;
            color: $white-text;
            border: none;
            @media screen and (max-width: 768px) {
                line-height: 1.5;
                font-size: 1.3em;
            }
            @media screen and (max-width: 568px) {
                line-height: 0.5;
                font-size: 1.2em;
            }
        }
    }
}