@font-face {
    font-family: "Droid-Sans";
    src: url("../../fonts/Droid-Sans.ttf");
}

@font-face {
    font-family: "Vibes-Regular";
    src: url("../../fonts/GreatVibes-Regular.ttf");
}

@font-face {
    font-family: "Oswald-Bold";
    src: url("../../fonts/Oswald-Bold.ttf");
}

@font-face {
    font-family: "Oswald-Regular";
    src: url("../../fonts/Oswald-Regular.ttf");
}

@font-face {
    font-family: "Oswald-Medium";
    src: url("../../fonts/Oswald-Medium.ttf");
}