    //SCSS
    $font-droid:"Droid-Sans";
    $font-vibes:"Vibes-Regular";
    $font-bold:"Oswald-Bold";
    $font-regular:"Oswald-Regular";
    $font-medium: "Oswald-Medium";
    $bg-color:#df001f;
    $white-text: #ffffff;
    $black-text: #333333;
    $red-text:#df001f;
    $p:100px;
    //@media screen and (max-width: 768px) {}
    //@media screen and (max-width: 568px) {}
    //CSS
    .upcoming__wrap {
        padding-top: $p*0.8;
        .upcoming {
            .upcoming__slider {
                width: 100%;
                overflow: hidden;
                .upcoming__slider-slides {
                    padding-bottom: 10px;
                    display: flex;
                    overflow-x: auto;
                    scroll-snap-type: x mandatory;
                    scroll-behavior: smooth;
                    -webkit-overflow-scrolling: touch;
                }
                 ::-webkit-scrollbar {
                    height: 5px;
                    background-color: rgb(196, 199, 198);
                    transform: translateY(10px);
                }
                 ::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 rgb(135, 138, 137);
                    border-radius: 10px;
                }
                 ::-webkit-scrollbar-thumb {
                    background: red;
                    border-radius: 10px;
                }
                 ::-webkit-scrollbar-thumb:hover {
                    background: #b30000;
                }
                .upcoming__slider-slides>div {
                    scroll-snap-align: start;
                    flex-shrink: 0;
                    margin-right: 50px;
                    transform-origin: center center;
                    transform: scale(1);
                    transition: transform 0.5s;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width: 768px) {
                        flex-direction: column;
                    }
                    .slider-pic>img {
                        height: 299px;
                        @media screen and (max-width: 768px) {
                            height: 350px;
                        }
                        @media screen and (max-width: 568px) {
                            height: 250px;
                        }
                        @media screen and (max-width: 320px) {
                            height: 200px;
                        }
                    }
                    .slider__cart {
                        padding: 0 $p*0.5;
                        .slider__cart-header {
                            font-family: $font-bold;
                            font-size: 2em;
                            color: $black-text;
                        }
                        .slider__cart-sub {
                            display: flex;
                            flex-direction: row;
                            font-family: $font-droid;
                            font-size: 1.1em;
                            color: $black-text;
                            .slider__cart-content {
                                padding: 0;
                                padding-right: $p*0.1;
                                list-style-type: none;
                            }
                        }
                    }
                }
            }
        }
        .latest__wrap {
            @media screen and (max-width: 1199px) {
                padding-top: $p*0.5;
            }
            @media screen and (max-width: 568px) {}
            .latest__slider__cart {
                position: relative;
                .slick-prev {
                    position: absolute;
                    top: -22px;
                    left: calc(100% - 60px);
                }
                .slick-next {
                    position: absolute;
                    top: -22px;
                    right: 16px;
                }
            }
        }
    }
    
    .upcoming-header {
        font-family: $font-regular;
        font-size: 2em;
        color: $black-text;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 0.94;
        letter-spacing: 3.2px;
        text-align: left;
    }
    
    .upcoming-sub {
        font-family: $font-vibes;
        color: $red-text;
        font-size: 3em;
    }
    
    .upcoming__btn {
        border-radius: 50px;
        text-transform: uppercase;
        font-family: $font-droid;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 2.5;
        letter-spacing: 1.2px;
        background-color: $red-text;
        color: $white-text;
        border: none;
        @media screen and (max-width: 768px) {
            line-height: 1.5;
            font-size: 1.3em;
        }
        @media screen and (max-width: 568px) {
            line-height: 0.5;
            font-size: 1.2em;
        }
    }